name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint yfinance numpy pandas matplotlib picologging rich rich-argparse
    - name: Analysing the code with pylint
      run: |
        pylint -d R0913,R0917,R0914,E1136 $(git ls-files '*.py')
    - name: add readme
    - uses: Silleellie/pylint-github-action@v2.1
      with:
        lint-path: backtest_sma_optimisation.py
        python-version: 3.11
